{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>Todo</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div class="navbar">
            <h1><a href="{% url 'todo:list' %}"  class="app_title">タスク管理</a></h1>
            <!-- <a href="{% url 'admin:index' %}" class="admin">管理画面へ</a> -->
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>