{% extends './_base.html' %}

{% block content %}
<h1>ToDoの削除</h1>
    <h2>ToDoの詳細</h2>

    <h3>タスク</h3>
    <p>{{ object.task }}</p>

    <h3>備考</h3>
    <p>{{ object.memo|linebreaks  }}</p>

    <h3>開始日</h3>
    <p>{{ object.start_day }} {{ object.start_time }}</p>

    <h3>終了日</h3>
    <p>{{ object.end_day }} {{ object.end_time }}</p>

    <h3>チェック</h3>
    <p>{{ object.completed|yesno:"完了,未完了" }}</p>

<form method="post">
    {% csrf_token %}
    {{ form }} 
    <input type="submit"  value="削除" />
</form>
<a href="{% url 'todo:list' %}">戻る</a>
{%endblock%}