{% extends './_base.html' %}

{% block content %}

    {% if object %}
        <h2 class="page_title">ToDoの編集</h2>
    {% else %}
        <h2 class="page_title">ToDoの作成</h2>
    {% endif %}

    <form action="" method="POST">
        <table>
            {{ form.as_table }}
        </table>
        {% csrf_token %}
        <button class="button"><a class="button" href="{% url 'todo:list' %}">戻る</a></button>
        <button class="button" type="submit">送信</button>
    </form>
{%endblock%}