{% extends './_base.html' %}
{% block content %}
    <div class="container">
        <h2 class="page_title">タスク一覧</h2>
        <div class="row">
            <div class="col_title">
                <p>タスク名</p>
                <p>開始日</p>
                <p>開始時間</p>
                <p>終了日</p>
                <p>終了時間</p>
                <p>チェック</p>
            </div>
        </div>
    
        <div class="row">
            {% for item in object_list %}
                <div class="col">
                    <p><a href="{% url 'todo:detail' pk=item.id %}">{{ item.task }}</a></p>
                    <p>{{ item.start_day }}</p>
                    <p>{{ item.start_time }}</p>
                    <p>{{ item.end_day }}</p>
                    <p>{{ item.end_time }}</p>
                    <p>{{ item.completed|yesno:"完了,未完了" }}</p>
                </div>
            {% endfor %}
        </div>
    
        <div class="row">
            <button class="button"><a class="button" href="{% url 'todo:create' %}">+</a></button>
        </div>
    </div>
{%endblock%}